.aboutContainer {
    margin: auto;
    height: auto;
    width: 18%;
    background-image: url('../components/img/Background.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.textContainer{
    color: #333333;
    margin-top: 300px;


}